*/.vs

*.opendb
*.opensdf

Spreadsheet/Spreadsheet/obj/**
Spreadsheet/Spreadsheet/bin/**

Spreadsheet/FormulaEvaluator/obj/**
Spreadsheet/FormulaEvaluator/bin/**

Spreadsheet/FormulaTests/obj/**
Spreadsheet/FormulaTests/bin/**

Spreadsheet/EvaluatorUnitTests/obj/**
Spreadsheet/EvaluatorUnitTests/bin/**

Spreadsheet/SpreadsheetTests/obj/**
Spreadsheet/SpreadsheetTests/bin/**

Spreadsheet/SpreadsheetGUI/obj/**
Spreadsheet/SpreadsheetGUI/bin/**

Spreadsheet/SpreadsheetPanel/obj/**
Spreadsheet/SpreadsheetPanel/bin/**

Spreadsheet/DependencyGraph/obj/**
Spreadsheet/DependencyGraph/bin/**

Spreadsheet/DependencyGraphTests/obj/**
Spreadsheet/DependencyGraphTests/bin/**

Spreadsheet/NetworkController/obj/**
Spreadsheet/NetworkController/bin/**

Spreadsheet/.vs/**

Server/Server/Debug/**
Server/Debug/**
